<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>traveel</title>
    <link rel="icon"href="{{ url_for('static', filename='bootstrap-5.3.2-dist/assets/image/logo1.png') }}">
    <link rel="stylesheet" href="..\static\chat.css">
</head>
<body>
   <iframe src='https://webchat.botframework.com/embed/hiaiai-bot?s=E7-dhfV26Hw.NmjcKVEEcrmKOIRlBXz-jcTDeq4wu2e0YQqA6PsT0U0'  style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
    
</body>
</html>