<!DOCTYPE html>
<html lang="en">
<head>
    <title>AdventureTravel</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='') }}image/logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='feedmessage.css') }}">
</head>
<body>
    <div class="message">
        <h1>Thank you for your Feedback!</h1>
        <h3>Your Feedback has been successfuly placed.</h3>
        <a href="/home" class="btn">Back to Home</a>
    </div>
</body>
</html>