<!DOCTYPE html>
<html lang="en">
<head>
    <title>AdventureTravel</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='') }}image/logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='message.css') }}">
</head>
<body>
    <div class="message">
        <h1>BOOKING CONFIRMATION!</h1>
        <h3>Your Adventure travel  has been successfuly Booked.</h3>
        <h3>Thank you for choosing this package.</h3>
        <h3>We'll contact you shortly with further details.</h3>
        <h3>contact to admine = <span>adventuretraveltour1@gmail.com</span></h3>
        <h3>Please fill the feedback!<span> &#x1F91F</span></h3>
        <a href="/home" class="btn">Back to Home</a>
    </div>
</body>
</html>